<div class="container">
    <div class="row justify-content-center mb-5 formDiv">
        <!--createCourseForm represents the form as a model in the component class-->
        <form [formGroup]="createCourseForm" class="col-sm-7 courseForm border rounded">
            <h2 class="text-center mt-4">Create course</h2>

            <pre>{{createCourseForm.value | json}}</pre>

            <!-- start of course name section -->
            <div class="form-group">
                <label>Course name</label>

            <!--formControlName links the input fields to the formControl values in the component class-->
            <!--userName is a getter function defined in the component class that holds a reference to the username-->
                <input formControlName="courseName" type="text" class="form-control form-control-sm w-75"
                [class.is-invalid]="courseNameRef.invalid && courseNameRef.touched">

                <!--course name is required error message-->
                <small class="text-danger" [class.d-none]="courseNameRef.valid || courseNameRef.untouched">
                  Course name is required
                </small>
            </div>
            <!-- end of course name section -->

            <!-- start of description section -->
            <div class="form-group">
                <label>Description</label>
                <textarea formControlName="description" type="text" class="form-control form-control-lg"
                [class.is-invalid]="descriptionRef.invalid && descriptionRef.touched"></textarea>
                
                <!--description is required error message-->
                <div *ngIf="descriptionRef.invalid && descriptionRef.touched">
                  <small *ngIf="descriptionRef.errors?.required" class="text-danger">Description is required</small>
                  <small *ngIf="descriptionRef.errors?.minlength" class="text-danger">Description must be longer than 50 characters</small>
                </div>
            </div>
            <!-- end of description section -->

            <!-- start of requirments section -->
            <div class="form-group">
              <label>Course requirments</label>

          <!--formControlName links the input fields to the formControl values in the component class-->
          <!--userName is a getter function defined in the component class that holds a reference to the username-->
              <input formControlName="courseRequirments" type="text" class="form-control form-control-sm"
              [class.is-invalid]="courseRequirmentsRef.invalid && courseRequirmentsRef.touched">

              <!--course name is required error message-->
              <small class="text-danger" [class.d-none]="courseRequirmentsRef.valid || courseRequirmentsRef.untouched">
                Course requirments are required
              </small>
          </div>
          <!-- end of requirments section -->

          <!--start of course thumbnail section-->
          <div class="form-group">
            <label>Course thumbnail</label>
            <input formControlName="thumbnail" type="file" accept="image/*" class="form-control-file">
            <small class="text-danger" [class.d-none]="thumbnailRef.valid || thumbnailRef.untouched">
              thumbnail is required
            </small>
          </div>
          <!--end of course thumbnail section-->

            <!-- start of hours section -->
            <div class="row">
                <div class="col">
                  <input formControlName="hours" type="number" class="form-control form-control-sm" placeholder="Hours"
                  [class.is-invalid]="hoursRef.invalid && hoursRef.touched">

                <!--hours is required error message-->
                <small class="text-danger" [class.d-none]="hoursRef.valid || hoursRef.untouched">
                  Course hours are required
                </small>
                </div>
                <!-- end of hours section -->

                <!-- start of price section -->
                <div class="col">
                  <input formControlName="price" type="number" class="form-control form-control-sm" placeholder="Price"
                  [class.is-invalid]="priceRef.invalid && priceRef.touched">

                <!--price is required error message-->
                <small class="text-danger" [class.d-none]="priceRef.valid || priceRef.untouched">
                  Price is required
                </small>
                </div>
              </div> <br>
              <!-- end of price section -->

              <!-- start of course objectives section -->
            <div class="form-group">
              <!--addCourseObj method is used to push a new course objective control into the form array courseObjectives-->
              <label>Course objectives 
                <button type="button" class="btn btn-link btn-sm" (click)="addCourseObj()">
                  add<mat-icon class="addObjIcon">add</mat-icon>
                </button>
            </label>

            <!--on the containing element which is the div tag we need to bind the formArrayName directive
            to our form array "courseObjectives" to help us keep track of the form array values-->
            <!--courseObjectivesRef.controls access the controls in the form array to display that 
            number of controls present-->
            <!--because the array is dynamic we need to make use of the index value i
              to bind to the formControlName property-->
              <div formArrayName="courseObjectives"
               *ngFor="let objective of courseObjectivesRef.controls; let i=index">
                <input type="text" class="form-control form-control-sm my-2" [formControlName]=i
                placeholder="{{i+1}}.">
              </div>
            </div>
            <!-- end of course objectives section -->

            <!--start of enrollment date section-->
            <!-- note that this if a date is picked then the course is an offline course
            and no modules or further information will be added
          which means at this point he can submit the course as long as the information above is complete-->
            <div class="form-group">
              <label>Start of enrollment</label>
              <input formControlName="startOfEnrollmentDate" type="date" class="form-control form-control-sm">
              <small class="text-info">
                Note that start of enrollment date is required only when the course is an offline course
              </small>
            </div>
            <!--end of start enrollment date section-->

            <div class="form-group">
              <!--this button creates an input field where you can enter the module name-->
              <button type="button" class="btn btn-link btn-sm" (click)="addCourseObj()">
                Add course module<mat-icon class="addObjIcon">add</mat-icon>
              </button>

              <!--start of the module name input field section that the above button created-->
              <div class="moduleNameDiv">
                <input type="text" class="form-control form-control-sm moduleNameIn" placeholder="Write module name">
                <!--after thhe course provider enter the name and hit ok button
                the module name will be registered and then the module name section will disappear-->
                <button class="btn btn-sm btn-primary mt-2 moduleNameBtn">ok</button>
              </div>
              <!--end of module name section-->

              <!--start of module contents
              below is the div that enables you to add a lecture or a quiz and add more if you want-->
              <div class="moduleContent">
                <div><b>Module name</b>
                  <!--the below svg is just an icon-->
                  <svg class="bi bi-file-earmark-text" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z"/>
                    <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z"/>
                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                  </svg>
                  <br> <br>

                  <div class="addLec-quizDiv">
                    <!-- start of add lecture button-->
                    <button class="btn btn-sm lec-quizBtn">
                      Add lecture
                      <!--the below svg is just an icon-->
                      <svg class="bi bi-file-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V8h-1v5a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5V1z"/>
                        <path fill-rule="evenodd" d="M13.5 1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V1.5a.5.5 0 0 1 .5-.5z"/>
                        <path fill-rule="evenodd" d="M13 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                      </svg>
                    </button>
                    <!-- end of add lecture button-->
                    <span>&nbsp; OR &nbsp;</span>

                    <!--start of add quiz button-->
                    <button class="btn btn-sm lec-quizBtn">
                      Add quiz
                      <!--the below svg is just an icon-->
                      <svg class="bi bi-file-post" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
                        <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-7z"/>
                        <path fill-rule="evenodd" d="M4 3.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                      </svg>
                    </button>
                    <!--end of add quiz button-->
                
                </div>

                  <!--this button below enables you to add more lectures or quizzes by showing one more
                  div with the class="addLec-quizDiv" above-->
                  <button class="btn btn-link">
                    Add contents
                    <svg class="bi bi-file-earmark-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h5v-1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5v2.5A1.5 1.5 0 0 0 10.5 6H13v2h1V6L9 1z"/>
                      <path fill-rule="evenodd" d="M13.5 10a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
                      <path fill-rule="evenodd" d="M13 12.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                    </svg>
                  </button>

                  <!-- start of lecture name and contents ( aka video and/or a file)-->
                  <div class="lecContents">

                    <!--start of lecture name-->
                    <div class="form-group">
                      <label>Lecture name</label>
                      <input class="form-control form-control-sm w-50">
                    </div>
                    <!--end of lecture name-->

                    <!--start of upload video-->
                    <label>Upload video
                      <svg class="bi bi-cloud-upload" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.887 6.2l-.964-.165A2.5 2.5 0 1 0 3.5 11H6v1H3.5a3.5 3.5 0 1 1 .59-6.95 5.002 5.002 0 1 1 9.804 1.98A2.501 2.501 0 0 1 13.5 12H10v-1h3.5a1.5 1.5 0 0 0 .237-2.981L12.7 7.854l.216-1.028a4 4 0 1 0-7.843-1.587l-.185.96z"/>
                        <path fill-rule="evenodd" d="M5 8.854a.5.5 0 0 0 .707 0L8 6.56l2.293 2.293A.5.5 0 1 0 11 8.146L8.354 5.5a.5.5 0 0 0-.708 0L5 8.146a.5.5 0 0 0 0 .708z"/>
                        <path fill-rule="evenodd" d="M8 6a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 6z"/>
                      </svg>
                    </label>
                    <input type="file" accept="video/*" class="form-control-file lec-quizBtn">
                    <!--end of upload video-->

                    <!--start of add file-->
                    <label class="mt-1">Add file
                      <svg class="bi bi-plus-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                      </svg>
                    </label>
                    <input type="file" class="form-control-file lec-quizBtn"
                    accept=".jpg, .png, .rar, .zip, .pdf, .docx, .xlsx, .csv, .pptx, .xml, .html, .css">
                    <!--start of add file-->

                  </div>
                  <!-- end of lecture contents ( aka video and/or a file)-->

                </div>
              </div>

            </div>

            <button class="btn btn-primary btn-sm submitBtn" [disabled]="createCourseForm.invalid">Submit for review</button>


        </form>
    </div>
</div>