.courseCard{
    box-shadow: 0px 0px 8px #a6a6a6;
}

.courseCardDiv{
    margin-top: 3%;
}

.update{
    margin-top: 2%;
    margin-bottom: 0;
}

.commonCSS{
    margin-left: 7%;
    margin-top: 2%;
}

.submitButton{
    margin-top: 1%;
}

.testForm{
    background-color: #f2f3f5;
    border: 1px solid #E0E0E0;
}

.quizContents{
    border: 1px #E0E0E0 solid;
    padding: 2%;
}