.forgotPasswordForm{
    box-shadow: 0px 0px 5px #a6a6a6;
    padding-top: 4%;
    padding-bottom: 4%;
    border-radius: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

.formRow{
    margin-top: 10%;
}

.forgotPasswordH1{
    text-align: center;
    margin-top: 5%;
    font-size: 175%;
    margin-bottom: 10%;
}

.resetButton{
    margin-top: 7%;
    margin-bottom: 5%;
}
