<div class="container">
    <div class="row justify-content-center formRow">
        <form class="col-sm-3 forgotPasswordForm" #resetPassword="ngForm">
            <h1 class="forgotPasswordH1">Reset password</h1>

        <!--email section-->
            <!--ngModel directive specifies to th engForm directive which form controls to track-->
            <!--ngModel only works when we specifies a name attribute for the form control-->
            <!--ngModel can also be used with a property binding to bind the data to the form
            a certain useful case for this is when you want to edit a pre saved information about something-->
            <!--it can also be used to transfer the data bidirectional to the model using the 2 way data binding-->
            <!--#name is a template ref variable that holds a reference to the ngModel of that particular
            form control-->
            <div class="formgroup email">
                <input required id="email" name="email" type="email" class="form-control form-control-sm" ngModel #email="ngModel"
                [class.is-invalid]="email.invalid && email.touched"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="E-Mail">
                <small class="text-danger" [class.d-none]="email.valid || email.untouched">
                    E-Mail must be in the following order: characters@characters.domain
                </small>
            </div>

            <button [disabled]="resetPassword.form.invalid" 
            class="btn btn-primary resetButton btn-sm btn-block" type="submit">Request password reset</button>
        </form>
    </div>
</div>