<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8 quiz">

            <!-- the quiz question goes here-->
            <div class="question">
                <b>Question: </b>what is the!!
            </div>
            <!-- end of quiz question -->

            <!-- start of answer options -->
            <div class="answer">
                <h3><b>Possible answers</b></h3>
                <!-- for each possible answer the div should be created containing the option -->
                <!-- 4 options will be generated -->
                <div class="answer">
                    Answer option 1
                </div>
            </div>
            <!-- end of answer options -->

            <!-- start of the correct answer drop down -->
            <br><label>Correct answer!</label> <br>
            <mat-form-field>
                <mat-label>Correct Answer!</mat-label>
                <mat-select>
                  <mat-option>
                    Option 1
                  </mat-option>
                  <mat-option>
                    Option 2
                  </mat-option>
                  <mat-option>
                    Option 3
                  </mat-option>
                  <mat-option>
                    Option 4
                  </mat-option>
                </mat-select>
              </mat-form-field>
            <!-- end of the correct answer drop down -->
        </div>
    </div>
</div>