.quiz{
    background-color: #EDF1F7;
    border-radius: 1%;
    color: black;
}

.question{
    font-size: larger;
    margin-top: 5%;
    margin-bottom: 2%;
    border: 1px solid #E0E0E0;
    padding: 1% 0% 1% 0%;
}

.answer{
    font-size: large;
    border: 1px solid #E0E0E0;
    padding: 1% 0% 1% 0%;
    margin: 1%;
}