<mat-card class="p-0 m-3">
    <div class="d-flex">
        <div class="col-5 col-sm-4 col-md-4 col-lg-3 p-0">
            <img src="../../../assets/img/homeCourse.jpg" class="card-image p-2" alt="course">
        </div>
        <div class="col-4 col-sm-5 col-md-6 col-lg-6 p-0">
            <mat-card-header class="p-3">
                <mat-card-title class="mb-4">
                    DevOps Practices and Principles
                </mat-card-title>
                <mat-card-subtitle>
                    Microsoft - DEVOPS200.1x<br>
                    Ended - Oct 1, 2018
                </mat-card-subtitle>
            </mat-card-header>
        </div>
        <div class="col-3 col-sm-3 col-md-2 col-lg-3 p-0 d-flex align-items-end">
            <mat-card-actions class="w-100">
                <button mat-raised-button class="w-100">View Course</button>
            </mat-card-actions>
        </div>     
    </div>
</mat-card>