<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <app-category-performance></app-category-performance>
        </div>
    </div>

    <br><hr>
    <div class="row text-center justify-content-around">
        <div class="col-sm-2"><h2>Traffic statistics</h2></div>
    </div>
    <div class="row">

        <div class="col-sm-6">
            <app-highest-number-of-visitors></app-highest-number-of-visitors>
        </div>

        <div class="col-sm-6">
            <app-average-daily-active-users></app-average-daily-active-users>
        </div>

        <div class="col-sm-6">
            <app-lowest-number-of-visitors></app-lowest-number-of-visitors>
        </div>
    </div>

    <br><hr>

    <div class="row text-center justify-content-around">
        <div class="col-sm-3"><h2>Financial statistics</h2></div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <app-financial-statistics></app-financial-statistics>
        </div>
    </div>

</div>