<nav class="navbar navbar-expand-sm bg-light">
    <!-- Links -->
        <a class="navbar-brand" href="#">OctaCourses</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Categories</a>
      </li>
      <li>
        <form class="input-group">
            <input type="text" class="form-control searchField" placeholder="What would you learn?">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">Search</button>
            </div>
        </form>
      </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="#">For Course Provider</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Log in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Join Us</a>
      </li>
    </ul>
  
  </nav>

<p>navbar works halaloya!</p>
