<mat-grid-list style="box-shadow: 0px 1px 10px #edf1f7" cols="12" rowHeight="55px" class="customNavbar">
<mat-grid-tile><a [routerLink]="['']">OctaCourses</a></mat-grid-tile>
<mat-grid-tile><a [routerLink]="['categories']" routerLinkActive="active" >Categories</a></mat-grid-tile>
<mat-grid-tile colspan="4">
  <input type="text" class="form-control searchField" placeholder="What would you learn!">
  <button class="btn btn-primary">Search</button>
</mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile colspan="2"><a [routerLink]="['/courseproviderregisteration']">For course provider</a></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
<mat-grid-tile><a [routerLink]="['/login']" style="color: #f47f2f;">Login</a></mat-grid-tile>
<mat-grid-tile class="joisUsBtn"><a [routerLink]="['/register']" style="color: white;">Join us</a></mat-grid-tile>
</mat-grid-list>
