<div class="container">
        <!--Certificate header-->
        <div class="row text-center justify-content-around">
            <h2 class="cert">Certificate</h2>
        </div>
        <!-- Certificate header-->
<hr>
<div class="row justify-content-center">
    <div class="col-sm-9">
        <canvas id="certificate" #certificate class="certCanvas"></canvas>
        <br>
        <a #downloadBtn class="btn btn-sm btn-primary mb-3 mt-1" href="" (click)="downloadCert()" role="button" download>Download</a>
    </div>
</div>
</div>