<div class="container">
    <!--review courses page head-->
    <div class="row text-center justify-content-around">
        <h2 class="reviewH2">Review courses</h2>
    </div>
    <!-- end of review courses page header-->

    <!--courses container-->
    <div class="row">
        <!-- the div below should display the courses waiting for review-->
        <div class="col-sm-3 courseCardDiv card-group" *ngFor="let course of courses">

            <!--course card-->
            <div class="card text-center courseCard text-capitalize">
                <img src="assets/img/course.jpg" class="card-img-top" alt="Course image">
                <div class="card-body">
                    <h2 class="card-title">{{course.name}}</h2>
                  <p class="card-text">provided by: <b>{{course.provider}}</b></p>
                  <p><small>submitted: {{course.submissionDate}}</small></p>
                  <!--the Review button below should take the admin the course publishing page
                    so he can view the course for reviewing and publishing ot rejecting it -->
                  <button class="btn btn-success">Review</button>
                </div>
              </div>
              <!--end of course card-->
              
        </div>
    </div>
    <br><br>
</div>