.starIcon{
    margin-top: -2%;
}

.stu{
    margin-top: 2%;
}

.review{
    margin-top: 2.5%;
}

.studentReview{
    margin: 0% 30% 1% 7%;
    background-color: #F9F9F9;
    padding-bottom: 2%;
}

.StuProfile{
    margin-left: 2%;
    margin-top: 2%;
}