input{
    margin-top: 5%;
}

.formRow{
    margin-top: 5%;
}

.registerH1{
    text-align: center;
    margin-top: 5%;
    font-size: 210%;
    margin-bottom: 10%;
}

.registerButton{
    margin-top: 9%;
    margin-bottom: 5%;
}

.registerationForm{
    box-shadow: -1px 0px 5px #a6a6a6;
    padding-top: 4%;
    padding-bottom: 4%;
    border-radius: 3% 0% 0% 3%;
    padding-left: 2%;
    padding-right: 2%;
}

.haveAccountDiv{
    box-shadow: 1px 0px 5px #a6a6a6;
    background-color: #f47f2f;
    color: white;
    padding-top: 4%;
    padding-bottom: 4%;
    border-radius: 0% 3% 3% 0%;
}

.vAlign{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 5%;
    text-align: center;
    font-size: 140%;
}