
<mat-sidenav-container>
    <mat-sidenav opened disableClose mode="side" class="sideNav">
        <div>
            <p class="sideNavP position-relative w-100" routerLinkActive="active-link" 
            *ngFor="let link of navLinks; let first = first;" [ngClass]="{ first: first}">
                <a class="sideNavLinks stretched-link" [routerLink]="link.path">{{link.label}}</a>
            </p>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="col-sm-11 col-xs-5">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<!--
<img class="col-12 w-100 p-0" src="../../../assets/img/userProfile.jpg" alt="img">
<mat-card>
    <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive">
            {{link.label}}
        </a>
    </nav>
    <router-outlet></router-outlet>
</mat-card>
-->