<div class="container_fluid">
    <div class="row courseHead justify-content-around">
        <div class="ml-5 mt-5 col-sm-7">
            <!--course name header-->
            <h1 class="courseName">PHP OOP: Object Oriented Programming for beginners + Project</h1>

            <!-- course provider name header-->
            <!-- the course provider anchor link navigateس to the courseProvider section 
                pageScroll and pageScrollDuration are directives from ng2-page-scroll that make it possible
                to scroll down the the course provider section -->
            <h3 class="provider text-capitalize">Created by <a pageScroll pageScrollDuration="500" 
                href="#courseProvider">course provider name</a></h3>

            <!-- start of course rate this might be golden stars or as it is right now make your choice ahmed :) -->
            <p>Rate: 4.3/5 
                <svg style="color: gold;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                  </svg> &nbsp;
                  (number of ratings)
            </p>
            <!-- end of course rate -->

            <!-- publishing date -->
            <p>Published 22/6/2020</p>

            <!-- number of students enrolled -->
            <p>number of student enrolled</p>

            <!-- number of hours in case of an online course should be visible otherwise it will be hidden-->
            <p>number of hours</p>

            <!-- address in case of an offline video should be visible otherwise it will be hidden-->
            <p>Address</p>

            <!-- Start of enrollment date in case of an offline course should be visible otherwise it will be hidden-->
            <p>Start of enrollment date: </p>
            
            <!-- course type -->
            <p class="mb-4">Type: online/offline</p>
        </div>

        
        <div class="col-sm-3 text-center mt-5 mb-3">
            <!-- course thumbnail -->
            <img class="w-100 img-thumbnail img-fluid" src="assets/img/courseThumbnail.jpg" alt="course thumbnail">
        
            <!-- price goes into the following b tag in the h2 tag -->
            <h2 class="price"><b>500</b> EGP</h2>
            <!-- end of price -->

            <!--enroll button -->
            <!-- this button is shown to the logged in student -->
            <!-- if the student is already enrolled in then it should be hidden -->
            <button class="btn btn-sm btn-block enrollBtn w-75">Enroll Now</button>
            <!-- end of enroll button -->

            <!--go to course button link -->
            <!-- this button is shown to the logged in student who has already  enrolled in this course-->
            <!-- in case of online course it should redirect him to the course-insights page
                 so the student can go and see the course videos-->
            <!-- in case of an offline course this should be hidden as there is no videos for offline courses -->
            <a class="btn btn-sm btn-block enrollBtn w-75">Go to course</a>
            <!-- end of enroll button -->

            <!-- add to wishlist button -->
            <!-- this button should be displayed for the logged in student and be hidden if the student is not logged in
                 when clicked it should put the course in his/her wishlist -->
            <button class="btn btn-sm btn-danger">
                Wishlist
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                </svg>
            </button>
            <!-- end of add to wishlist -->
        </div>
    </div>

    <!-- start of course objectives section -->
    <div class="row">
        <div class="col-sm-6 courseObjectives">
            <h2><b>What you will learn</b></h2>

            <!-- the following div will be created as many times as the course objectives -->
            <div>
                <!-- this svg is just the icon to the left of the course objective -->
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path fill-rule="evenodd" d="M3.5 8a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.5-.5z"/>
                  </svg>

                  <!-- course objective -->
                    Course objective
            </div>

        </div>
    </div>
    <!-- end of course objectives section -->

    <!--start of course contents section. aka modules and lectures-->
    <!-- this section sould be hidden in case of an offline course as it doesn't have modules -->
    <div class="row">
        <div class="col-sm-8 courseContent">
            <h2><b>Course contents</b></h2>

<!-- each mat expansion panel represents a module -->
<mat-expansion-panel class="modulePanel" *ngFor="let module of modules">
    <mat-expansion-panel-header>

        <!-- mat-pane-title represents the module name-->
        <mat-panel-title>
            <b>{{module.moduleName}}</b>
        </mat-panel-title>

    </mat-expansion-panel-header>

    <!-- the p tag below represents the module decription -->
    <p>{{module.description}}</p>

    <div *ngFor="let lec of module.lectures">
        <a href="">
            <div class="lecInfo">
                <span>{{lec.lecName}}</span>
                <span style="float: right; margin-right: 15%;">{{lec.duration}}</span>
            </div>
        </a>
    </div>
</mat-expansion-panel>

        </div>
    </div>
    <!-- end of course contents section -->

    <!-- start of course requirments section -->
    <div class="row">
        <div class="col-sm-6 commonCSS">
            <h2><b>Course requirments</b></h2>
            <p>previous knowledge with HTML, CSS, JavaScript, TypeScript and bootstrap</p>
        </div>
    </div>
    <!-- end of course requirments section -->

    <!-- start of course description section -->
    <div class="row">
        <div class="col-sm-6 commonCSS">
            <h2><b>Description</b></h2>
            <!-- course decription goes in the p tag below -->
            <p><b>this course is pretty fucking good that will teach you bla bla bla to make you fucking great</b></p>
        </div>
    </div> <br>
    <!-- end of course description section -->


    <!-- start of course provider info -->
    <app-course-provider-card></app-course-provider-card>
    <!-- end of course provider info -->

    <!-- start of course review form and question for,-->
    <!-- note this should be visible only when a student is enrolled in this course -->
    <div class="row commonCSS">
        <div class="col-sm-5">
            <h2 class="mt-2 mb-0"><b>Leave your review for the course</b></h2>
        </div>

        <div class="col-sm-5 question">
            <h2 class="mt-2 mb-0"><b>Have a question!</b></h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <!-- course review form -->
            <app-course-review-form></app-course-review-form>
        </div>
        <div class="col-sm-6">
            <!-- course question form -->
            <app-course-question-form></app-course-question-form>
        </div>
    </div>
    <!-- end of course review form -->

    <!-- start of course reviews -->
    <div class="row commonCSS">
        <div class="col-sm-2">
            <h2 class="mt-2 mb-0"><b>Course reviews</b></h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <app-student-review-card></app-student-review-card>
        </div>
    </div>
    <!-- end of course reviews -->

    <!-- start of course questions -->
    <div class="row commonCSS">
        <div class="col-sm-2">
            <h2 class="mt-2 mb-0"><b>Course questions</b></h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <app-course-question-card></app-course-question-card>
        </div>
    </div>
    <!-- end of course reviews -->

    <br><br><br><br><br>
</div>