<div class="quizContents" [formGroup]="quizContent">
  <div class="form-group">
    <label>Question</label>
    <input type="text" class="form-control form-control-sm" formControlName="question">
  </div>


  <div class="form-group quizContents" formArrayName="choices">
    <label>Options</label>
    <input type="text" class="form-control form-control-sm" *ngFor="let choice of choices?.controls; let i=index"
      placeholder="Option {{i + 1}}" [formControlName]="i">


  </div>

  <div class="quizContents">
    <label for="right-answer">Correct answer!</label> <br>
    <mat-form-field>
      <mat-label>Correct Answer!</mat-label>
      <mat-select formArrayName="choices" formControlName="correctAnswer"> 
        <mat-option *ngFor="let choice of choices?.controls; let i = index" [value]="choice.value">
          Option {{i + 1}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>