<!--home page image section-->
<mat-grid-list cols="2">
<mat-grid-tile colspan="2"><img style="width: 100%;" src="assets/img/home2.jpg" alt="home page quote image"></mat-grid-tile>
</mat-grid-list>
<!--end of home page image section-->

<!--top picks section *where the recommendation system displays the recommended courses-->
<div class="topPicks">
    <h1 class="topPicksH1">Explore our top picks</h1>
</div>

<!--this is the grid containing the top picks courses-->
<mat-grid-list class="topPicksContainer" cols="3" rowHeight="405px" gutterSize="7%">

    <!--the course tile where you will put the code that will iterate to display 6 courses imposed 
    by the recommendation system-->
    <mat-grid-tile>
        <mat-card class="courseCard">
            <img mat-card-image src="assets/img/homeCourse.jpg" alt="">
            <mat-card-content>
                <h1 class="courseName">Course name</h1>
                <small>Author name</small>
            </mat-card-content>
            <mat-card-actions>
                <!-- this link should transfer you to the course page to view the full information-->
                <a href="#" class="enrollNowLink stretched-link">Enroll now</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <!--end of the tile-->

    <!-- the below 5 tiles will be erased they are here now for demo prposes only-->
    <mat-grid-tile>
        <mat-card class="courseCard">
            <img mat-card-image src="assets/img/homeCourse.jpg" alt="">
            <mat-card-content>
                <h1 class="courseName">Course name</h1>
                <small>Author name</small>
            </mat-card-content>
            <mat-card-actions>
                <!-- this link should transfer you to the course page to view the full information-->
                <a href="#" class="enrollNowLink stretched-link">Enroll now</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="courseCard">
            <img mat-card-image src="assets/img/homeCourse.jpg" alt="">
            <mat-card-content>
                <h1 class="courseName">Course name</h1>
                <small>Author name</small>
            </mat-card-content>
            <mat-card-actions>
                <!-- this link should transfer you to the course page to view the full information-->
                <a href="#" class="enrollNowLink stretched-link">Enroll now</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="courseCard">
            <img mat-card-image src="assets/img/homeCourse.jpg" alt="">
            <mat-card-content>
                <h1 class="courseName">Course name</h1>
                <small>Author name</small>
            </mat-card-content>
            <mat-card-actions>
                <!-- this link should transfer you to the course page to view the full information-->
                <a href="#" class="enrollNowLink stretched-link">Enroll now</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="courseCard">
            <img mat-card-image src="assets/img/homeCourse.jpg" alt="">
            <mat-card-content>
                <h1 class="courseName">Course name</h1>
                <small>Author name</small>
            </mat-card-content>
            <mat-card-actions>
                <!-- this link should transfer you to the course page to view the full information-->
                <a href="#" class="enrollNowLink stretched-link">Enroll now</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="courseCard">
            <img mat-card-image src="assets/img/homeCourse.jpg" alt="">
            <mat-card-content>
                <h1 class="courseName">Course name</h1>
                <small>Author name</small>
            </mat-card-content>
            <mat-card-actions>
                <!-- this link should transfer you to the course page to view the full information-->
                <a href="#" class="enrollNowLink stretched-link">Enroll now</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <!-- the previous 5 tiles will be erased as they are here now for demo prposes only-->
</mat-grid-list>
<!--end of the grid containing the top picks courses-->
<hr>
<div class="topPicks">
    <h1 class="topPicksH1">Why join us!</h1>
</div>