<!--home page image section-->
<mat-grid-list cols="2">
<mat-grid-tile colspan="2"><img style="width: 100%;" src="assets/img/home2.jpg" alt="home page quote image"></mat-grid-tile>
</mat-grid-list>
<!--end of home page image section-->

<!--top picks section *where the recommendation system displays the recommended courses-->
<div class="topPicks">
    <h1 class="topPicksH1">Explore our top picks</h1>
</div>

<!--this is the grid containing the top picks courses-->
<mat-grid-list class="topPicksContainer" cols="3" rowHeight="405px" gutterSize="7%">

    <!--the course tile where you will put the code that will iterate to display 6 courses imposed 
    by the recommendation system-->
    <mat-grid-tile>
        <mat-card class="courseCard">
            <img mat-card-image src="assets/img/homeCourse.jpg" alt="">
            <mat-card-content>
                <h1 class="courseName">Course name</h1>
                <small>Author name</small>
            </mat-card-content>
            <mat-card-actions>
                <!-- this link should transfer you to the course page to view the full information-->
                <a href="#" class="enrollNowLink stretched-link">Enroll now</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <!--end of the tile-->

    <!-- the below 5 tiles will be erased they are here now for demo prposes only-->
    <mat-grid-tile>
        <mat-card class="courseCard">
            <img mat-card-image src="assets/img/homeCourse.jpg" alt="">
            <mat-card-content>
                <h1 class="courseName">Course name</h1>
                <small>Author name</small>
            </mat-card-content>
            <mat-card-actions>
                <!-- this link should transfer you to the course page to view the full information-->
                <a href="#" class="enrollNowLink stretched-link">Enroll now</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="courseCard">
            <img mat-card-image src="assets/img/homeCourse.jpg" alt="">
            <mat-card-content>
                <h1 class="courseName">Course name</h1>
                <small>Author name</small>
            </mat-card-content>
            <mat-card-actions>
                <!-- this link should transfer you to the course page to view the full information-->
                <a href="#" class="enrollNowLink stretched-link">Enroll now</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="courseCard">
            <img mat-card-image src="assets/img/homeCourse.jpg" alt="">
            <mat-card-content>
                <h1 class="courseName">Course name</h1>
                <small>Author name</small>
            </mat-card-content>
            <mat-card-actions>
                <!-- this link should transfer you to the course page to view the full information-->
                <a href="#" class="enrollNowLink stretched-link">Enroll now</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="courseCard">
            <img mat-card-image src="assets/img/homeCourse.jpg" alt="">
            <mat-card-content>
                <h1 class="courseName">Course name</h1>
                <small>Author name</small>
            </mat-card-content>
            <mat-card-actions>
                <!-- this link should transfer you to the course page to view the full information-->
                <a href="#" class="enrollNowLink stretched-link">Enroll now</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="courseCard">
            <img mat-card-image src="assets/img/homeCourse.jpg" alt="">
            <mat-card-content>
                <h1 class="courseName">Course name</h1>
                <small>Author name</small>
            </mat-card-content>
            <mat-card-actions>
                <!-- this link should transfer you to the course page to view the full information-->
                <a href="#" class="enrollNowLink stretched-link">Enroll now</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <!-- the previous 5 tiles will be erased as they are here now for demo prposes only-->
</mat-grid-list>
<!--end of the grid containing the top picks courses-->
<hr>

<!--why us section-->
<div class="whyUs">
    <h1 class="whyUsH1">Why join us!</h1>
</div>

<mat-grid-list cols="3" gutterSize="7%" rowHeight="3:2" class="whyUsContainer">
    <mat-grid-tile class="whyUs">
        <div><p><mat-icon class="whyUsIcon">games</mat-icon></p>
        <br>
        <p class="whyUsP">great learning experience<br>using gamification</p>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div>
        <p><mat-icon class="whyUsIcon">device_hub</mat-icon></p>
        <br>
        <p class="whyUsP">Student hub<br>conatins both online and offline courses</p>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div>
        <p><mat-icon class="whyUsIcon">beenhere</mat-icon></p>
        <br>
        <p class="whyUsP">Best in class courses<br>from hundreds of reviews</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<!--end of why us section-->

<!--FOOTER-->
<div class="footer container_fluid homeFooter">
    <div class="row">
        <div class="col-sm-1" style="text-align: right;">Contact us</div>
        <div class="col-sm-2">
            <p style="margin: 0%;">support@octacourses.com</p>
            <p style="margin: 0%;">01066569848</p>
            <p style="margin: 0%;">01119832364</p>
            <p style="margin: 0%;">01061091770</p>
        </div>
        <div class="col-sm-1">
            <p style="text-align: right;">Services</p>
        </div>
        <div class="col-sm-2">
            <a href="#">Student hub</a><br>
            <a href="#">Gamification</a><br>
            <a href="#">FAQs</a><br>
            <a href="#">Wishlist</a>
        </div>
        <div class="col-sm-1">Information</div>
        <div class="col-sm-5">
            <a href="#">About us</a><br>
            <a href="#">Who are we</a><br>
            <a href="#">Terms and policies</a><br>
            <a href="#">Privacy</a>
            <p style="text-align: right; margin-right: 1%;">&#169; OctaCourses</p>
        </div>
    </div>
</div>