<div class="container card-container">
    <div class="row text-center justify-content-around mt-4">
        <h2>Course name</h2>
    </div>
    <div class="row">
        <div class="col-sm-3 noOfStudentsDiv h-50 ml-4">
            <h2><b>Students enrolled: </b>20</h2>
            <h3>Overall rate: 4.5</h3>
        </div>
        <div class="col-md-6 text-center justify-content-around">
            <div  class="chartCanvas">
                <canvas class="mt-2" baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
                <h3 class="mt-2">Students enrollments</h3>
            </div>
        </div>
    </div>

    <div class="row text-center justify-content-around">
        <div class="col-md-6">
            <div  class="chartCanvas" style="display: block">
                <canvas baseChart
                            [data]="doughnutChartData"
                            [labels]="doughnutChartLabels"
                            [chartType]="doughnutChartType"></canvas>

                <h3 class="mt-2">Course rate</h3>
              </div>
        </div>
        <div class="col-md-6">
            <div>
                <div class="chartCanvas" style="display: block">
                  <canvas baseChart
                          [datasets]="barChartData"
                          [labels]="barChartLabels"
                          [options]="barChartOptions"
                          [legend]="barChartLegend"
                          [chartType]="barChartType">
                  </canvas>

                  <h3 class="mt-2">Course performance</h3>
                </div>
              </div>
        </div>
    </div>
</div>

<br><br>